<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s16.engmyan"
    android:versionCode="1"
    android:versionName="3.1.1.20150612"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.s16.engmyan.MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.s16.engmyan.activity.MainActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.s16.engmyan.activity.DetailActivity" >
            
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.s16.engmyan.activity.MainActivity" />
        </activity>
        
        <activity
            android:name="com.s16.engmyan.activity.SettingsActivity">
            
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.s16.engmyan.activity.MainActivity" />
        </activity>
        
        <service 
            android:name="com.s16.engmyan.InstallationService"
            android:exported="false" />
        
        <provider android:name="com.s16.engmyan.data.UserDataProvider"
            android:authorities="com.s16.engmyan.data.userdataprovider"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
