body,div,h1,h2,h3,input,textarea {
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased!important;
	text-rendering: optimizeLegibility;
}

p {
	margin:0pt;
	line-height:180%;
	font-size:12.0pt;
}

.credit-body {
    padding: 16px;
    background-color:black;
    color:white;
}