@font-face {
    font-family: 'zawgyi-one';
	 src: url('file:///android_asset/fonts/zawgyi.ttf');
	 src: url('file:///android_asset/fonts/zawgyi.woff') format('woff'), 
			url('file:///android_asset/fonts/zawgyi.ttf') format('truetype'), 
			url('file:///android_asset/fonts/zawgyi.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,div,h1,h2,h3,input,textarea {
	margin: 0px;
	padding: 0px;
	font-family: 'zawgyi-one'!important;
	-webkit-font-smoothing: antialiased!important;
	text-rendering:optimizeLegibility;
}

p {
	margin:0pt;
	line-height:180%;
	font-size:12.0pt;
}

p.desc {
	margin-left:10pt;
}

h2 {
	color: red;
	font-weight: bold;
	font-size: 16pt;
}